services:
  frontend:
    build: .
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - backend
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/quizdb
    depends_on:
      - mongo
  mongo:
    image: mongodb/mongodb-atlas-local:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
