version: "3.8"
services:
  frontend:
    build: .
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - backend
  backend:
    build: ./backend
    ports:
      - "3001:3000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017
    depends_on:
      - mongodb # Ensures MongoDB starts first
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017" # Exposes to host for external tools like Compass
    volumes:
      - mongodb-data:/data/db # Persists data

volumes:
  mongodb-data: # Named volume for data storage
